@using IP_MVC
@model IEnumerable<BL.Domain.Project>

<h2 class="mb-3">Dashboard</h2>

<h3 class="mb-3">Managed projects</h3>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var project in Model)
    {
        <tr>
            <td>@project.Name</td>
            <td>@project.Description</td>
            <td>
                <a>class="btn btn-primary btn-sm" href="@Url.Action("Start", "Project", new { id = project.Id })">Start</a>
                @if (User.IsInRole(CustomIdentityConstants.AdminRole))
                {
                    <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", "Project", new { id = project.Id })">Edit</a>
                    <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "Project", new { id = project.Id })">Delete</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

@if (User.IsInRole(CustomIdentityConstants.AdminRole))
{
    <a class="btn btn-success" href="@Url.Action("Create", "Project")">Create New project</a>
}