@model BL.Domain.Questions.RangeQuestion

@{
    ViewBag.Title = "RangeEnum";
    Layout = "_Layout";
}

<div class="row py-2">
    <img src="https://via.placeholder.com/200x100" alt="Afbeeldingsplaatsaanduiding">
</div>
<div class="row py-2">
    <p class="text-start fw-bold">Question</p>
    <p>@Model.Text</p>
</div>
<div class="row py-2 slider-container" style="text-align: center">

    <form asp-action="SaveAndNext" asp-controller="Flow" method="post">
        <div class="slider-values" id="slider" style="display: flex; justify-content: space-between; padding-bottom: 10px;">
            @for (int i = Model.Min; i <= Model.Max; i++)
            {
                <span>@i</span>
            }
        </div>
        <input type="range" min="@Model.Min" max="@Model.Max"/>
        <input type="hidden" id="selectedValue" name="Answer"/>
        <input type="hidden" name="flowId" value="@Model.FlowId"/>
        <input type="hidden" name="id" value="@Model.Id"/>
        <input type="hidden" name="QuestionId" value="@Model.Id"/>
        <br/>
        <input type="submit" value="Next"/>
    </form>
</div>

<!-- TODO Move this to different file -->
<script>
    document.querySelector('input[type="range"]').addEventListener('input', function(e) {
        document.getElementById('selectedValue').value = e.target.value;
    });
</script>