@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BL.Domain
@model BL.Domain.Questions.SingleChoiceQuestion

@{
    ViewBag.Title = "Single Choice";
    Layout = "_Layout";
    var currentIndex = ViewData["currentIndex"] as int? ?? 0;
    var flowType = ViewData["flowType"] as FlowType? ?? FlowType.LINEAR;
}

<div class="container-fluid">
    <div class="row">
        <div class="col py-2 d-flex justify-content-center align-items-center">
            <div>
                <p class="text-start fw-bold">Question</p>
                <p>@Model.Text</p>

                <form id="myForm" asp-controller="Flow" method="post">
                    @for (int i = 0; i < Model.Options.Count; i++)
                    {
                        <div class="form-check m-3">
                            <input class="form-check-input" name="Answer" type="radio" id="radio@i" value="@Model.Options[i]">
                            <label class="form-check-label" for="radio@i">
                                @Model.Options[i]
                            </label>
                        </div>
                    }
                    <input type="hidden" name="flowId" value="@Model.FlowId"/>
                    <input type="hidden" name="id" value="@Model.Id"/>
                    <input type="hidden" name="QuestionId" value="@Model.Id"/>
                    <input type="hidden" name="linearFlow" value="@flowType.ToString()"/>

                    <div class="d-flex justify-content-between align-items-center">
                        @if (flowType == FlowType.LINEAR)
                        {
                            @if (currentIndex != 1)
                            {
                                <input type="submit" value="Previous" class="btn btn-primary" asp-action="SaveAndPrevious"/>
                            }

                            <button id="exitButton" class="btn btn-danger">Exit</button>
                            <input type="submit" class="btn btn-primary" value="Next"/>
                        }
                        else
                        {
                            <div class="row py-2">
                                <span id="countdown"></span>
                            </div>
                            //todo: redirect to login page, user can't close circular flow
                            <a href="@Url.Action("Flow", "Flow", new { id = Model.FlowId })" class="btn btn-primary">Return to SubFlow</a>
                            <script src="/dist/Views/Flow/goingToNextQuestionCircularFlow.js" defer="defer"></script>
                            <button id="exitButton" class="btn btn-danger">Exit</button>
                        }
                    </div>
                </form>
            </div>
        </div>
        <div class="col py-2 d-flex justify-content-center align-items-center">
            <img src="https://via.placeholder.com/50x50" class="img-fluid w-100" alt="Afbeeldingsplaatsaanduiding">
        </div>
    </div>
</div>