@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BL.Domain
@using BL.Domain.Answers
@model BL.Domain.Questions.SingleChoiceQuestion

@{
    <script src="/dist/redirectedQuestionId.entry.js" defer="defer"></script>

    ViewBag.Title = "Single Choice";
    Layout = "_Layout";
    var currentIndex = ViewData["currentIndex"] as int? ?? 0;
    var questionCount = ViewData["questionCount"] as int? ?? 0;
    var earlierAnswer = ViewData["earlierAnswer"] as Answer;
    var flowType = ViewBag.FlowType as FlowType? ?? FlowType.LINEAR;
    var subFlowId = ViewBag.subFlowId;
}

<body class="questions-page">
<div class="container-fluid">
    <img class="overlay-image position-absolute top-0 bottom-0 w-100 h-100" src="https://storage.googleapis.com/phygital-public/Flows/flow_halve_handjes.png" alt="Beschrijving van de afbeelding">

    <div class="card border-1 border-black pt-3 position-relative align-items-center justify-content-center">
        <div class="card-content">
            <div class="row m-1">
                <div class="col py-2 d-flex justify-content-center align-items-center">
                    <div>
                        <p class="text-start fw-bold">Question</p>
                        <p>@Model.Text</p>

                        <form id="myForm" asp-controller="Flow" method="post" asp-action="SaveAnswerAndRedirect">
                            <div class="position-absolute top-0 start-0 text-center pt-2">
                                <p class="m-0">Return to SubFlow</p>
                                <a href="@Url.Action("SubFlow", "Flow", new { parentFlowId = subFlowId })" class="btn arrow-submit-left return-subflow"></a>
                            </div>

                            @if (flowType == FlowType.LINEAR)
                            {
                                <div class="position-absolute py-1 top-0 end-0 dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Quick navigation
                                    </button>
                                    <ul class="dropdown-menu">
                                        @for (var i = 0; i < questionCount; i++)
                                        {
                                            if (i == currentIndex)
                                            {
                                                <li>
                                                    <button class="dropdown-item active-dropdown" type="submit" name="redirectedQuestionId@(i)" asp-action="SaveAnswerAndRedirect">Question @(i + 1)</button>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <button  class="dropdown-item" type="submit" name="redirectedQuestionId@(i)" asp-action="SaveAnswerAndRedirect">Question @(i + 1)</button>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            }

                            @foreach (var option in Model.Options)
                            {
                                bool isSelected = earlierAnswer != null && earlierAnswer.AnswerText == option;
                                <div class="form-check m-3">
                                    <input class="form-check-input" name="Answer" type="radio" id="radio@i" value="@option" @(isSelected ? "checked" : "")>
                                    <label class="form-check-label" for="radio@i">
                                        @option
                                    </label>
                                </div>
                            }
                            <input type="hidden" name="flowId" value="@Model.FlowId"/>
                            <input type="hidden" name="id" value="@Model.Id"/>
                            <input type="hidden" name="QuestionId" value="@Model.Id"/>

                            <input type="hidden" id="redirectedQuestionId" name="redirectedQuestionId" value="@currentIndex">

                            <div class="d-flex justify-content-between align-items-center py-2">

                                @if (flowType == FlowType.LINEAR)
                                {
                                    @if (currentIndex != 0)
                                    {
                                        <button id="prevQuestionButton" type="submit" name="redirectedQuestionId@(currentIndex - 1)" form="myForm" class="btn arrow-submit-left" asp-action="SaveAnswerAndRedirect"></button>
                                    }

                                    <button id="nextQuestionButton" type="submit" name="redirectedQuestionId@(currentIndex + 1)" form="myForm" class="btn arrow-submit-right" asp-action="SaveAnswerAndRedirect"></button>
                                }
                                else
                                {
                                    <div class="row py-2">
                                        <span id="countdown"></span>
                                    </div>
                                    //todo: redirect to login page, user can't close circular flow
                                    <script src="/dist/goingToNextQuestionCircularFlow.entry.js" defer="defer"></script>
                                }
                            </div>
                            
                        </form>
                    </div>
                </div>
                @if (Model.Media != null)
                {
                    switch (Model.Media.type)
                    {
                        case MediaType.VIDEO:
                            <div class="col py-2 d-flex justify-content-center align-items-center">
                                <iframe src=@Model.Media.url class="img-fluid w-100 h-100" alt="@Model.Media.description" allow="accelerometer; autoplay; clipboard-write; encrypted-media; picture-in-picture"></iframe>
                            </div>
                            break;
                        case MediaType.IMAGE:
                            <div class="col py-2 d-flex justify-content-center align-items-center">
                                <img src=@Model.Media.url class="img-fluid w-100 h-100" alt="@Model.Media.description">
                            </div>
                            break;
                        case MediaType.AUDIO:
                            <div class="col py-2 d-flex justify-content-center align-items-center">
                                <audio controls>
                                    <source src=@Model.Media.url alt="@Model.Media.description" type="audio/mpeg">
                                </audio>
                            </div>
                            break;
                    }
                }
            </div>
        </div>
    </div>
</div>
</body>
@section Scripts
{
    <script src="~/dist/controlQuestions.entry.js"></script>
}