@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BL.Domain
@using BL.Domain.Answers
@model BL.Domain.Questions.SingleChoiceQuestion

@{
    <script src="/dist/redirectedQuestionId.entry.js" defer="defer"></script>
    
    ViewBag.Title = "Single Choice";
    Layout = "_Layout";
    var currentIndex = ViewData["currentIndex"] as int? ?? 0;
    var questionCount = ViewData["questionCount"] as int? ?? 0;
    var earlierAnswer = ViewData["earlierAnswer"] as Answer;
    var flowType = ViewBag.FlowType as FlowType? ?? FlowType.LINEAR;
    var subFlowId = ViewBag.subFlowId;
}

<div class="container-fluid">
    <div class="row">
        <div class="col py-2 d-flex justify-content-center align-items-center">
            <div>
                <p class="text-start fw-bold">Question</p>
                <p>@Model.Text</p>
                <form id="myForm" asp-controller="Flow" method="post" asp-action="SaveAnswerAndRedirect">
                    @if (flowType == FlowType.LINEAR)
                    {
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Quick navigation
                            </button>
                            <ul class="dropdown-menu">
                                @for (var i = 0; i < questionCount; i++)
                                {
                                    if (i == currentIndex)
                                    {
                                        <li>
                                            <input style="background-color: #b7b1b1" class="dropdown-item" type="submit" name="redirectedQuestionId@(i)" value="Question @(i + 1)" asp-action="SaveAnswerAndRedirect"/>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <input class="dropdown-item" type="submit" name="redirectedQuestionId@(i)" value="Question @(i + 1)" asp-action="SaveAnswerAndRedirect"/>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    }
                    
                    @foreach (var option in Model.Options)
                    {
                        bool isSelected = earlierAnswer != null && earlierAnswer.AnswerText == option;
                        <div class="form-check m-3">
                            <input class="form-check-input" name="Answer" type="radio" id="radio@i" value="@option" @(isSelected ? "checked" : "")>
                            <label class="form-check-label" for="radio@i">
                                @option
                            </label>
                        </div>
                    }
                    <input type="hidden" name="flowId" value="@Model.FlowId"/>
                    <input type="hidden" name="id" value="@Model.Id"/>
                    <input type="hidden" name="QuestionId" value="@Model.Id"/>

                    <input type="hidden" id="redirectedQuestionId" name="redirectedQuestionId" value="@currentIndex">

                    <div class="d-flex justify-content-between align-items-center">

                        @if (flowType == FlowType.LINEAR)
                        {
                            @if (currentIndex != 0)
                            {
                                <input type="submit" name="redirectedQuestionId@(currentIndex-1)" value="Previous" asp-action="SaveAnswerAndRedirect"/>
                            }

                            <a href="@Url.Action("SubFlow", "Flow", new { parentFlowId = subFlowId })" class="btn btn-primary">Return to SubFlow</a>

                            <input type="submit" name="redirectedQuestionId@(currentIndex+1)" value="Next" asp-action="SaveAnswerAndRedirect"/>
                        }
                        else
                        {
                            <div class="row py-2">
                                <span id="countdown"></span>
                            </div>
                            //todo: redirect to login page, user can't close circular flow
                            <a href="@Url.Action("SubFlow", "Flow", new { parentFlowId = subFlowId })" class="btn btn-primary">Return to SubFlow</a>

                            <script src="/dist/goingToNextQuestionCircularFlow.entry.js" defer="defer"></script>
                        }
                    </div>
                </form>
            </div>
        </div>
         @if (Model.Media != null)
        {
            switch (Model.Media.type)
            {
                case MediaType.VIDEO:
                    <div class="col py-2 d-flex justify-content-center align-items-center">
                        <iframe src="https://www.youtube.com/embed/d-LmGRjRhs8" class="img-fluid w-100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; picture-in-picture"></iframe>
                    </div>
                    break;
                case MediaType.IMAGE:
                    <div class="col py-2 d-flex justify-content-center align-items-center">
                        <img src="https://images.vrt.be/width960/2019/04/26/10341807-6837-11e9-abcc-02b7b76bf47f.png" class="img-fluid w-100" alt="Dit is een mooie afbeelding">
                    </div>
                    break;
                case MediaType.AUDIO:
                    <div class="col py-2 d-flex justify-content-center align-items-center">
                        <audio controls>
                            <source src="https://www.buzzsprout.com/2357072/14950714-alleen-in-brussel-aflevering-1-de-verloren-stem.mp3?client_source=small_player&referrer=https%3A%2F%2Fwww.buzzsprout.com%2F2357072%2F14950714-alleen-in-brussel-aflevering-1-de-verloren-stem.js%3Fcontainer_id%3Dbuzzsprout-player-14950714" type="audio/mpeg">
                        </audio>
                    </div>
                    break;
            }
        }
    </div>
</div>