@using BL.Domain.Questions
@model BL.Domain.Questions.Question

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    
    int min = ViewBag.Min ?? 0;
    int max = ViewBag.Max ?? 10;
}

<h2>Overzicht vraag</h2>
<h3>Vraagtype</h3>
<p>@Model?.Type</p>

<a class="btn btn-primary" href="@Url.Action("StartPreview", "Question", new {id = Model?.Id})">Show preview</a>

<input type="hidden" id="questionId" value="@Model?.Id">
<input type="hidden" id="questionType" value="@Model?.Type">

<div id="titleContainer">
    <h3 id="titleText">@Model?.Text</h3>
    <input type="text" id="titleInput" value="@Model?.Text" style="display: none;">
    <button class="btn btn-primary" id="editButton">Change</button>
    <button class="btn btn-primary" id="updateButton" style="display: none;">Update</button>
</div>

<form>
    @if(Model.Media != null)
    {
        var mediaUrl = Model.Media.url;
        var mediaType = Model.Media.type;
      
        switch (mediaType)
        {
            case MediaType.VIDEO:
                <div class="col py-2 d-flex justify-content-center align-items-center">
                    <iframe src="@mediaUrl" class="img-fluid" style="max-width: 50vw; max-height: 50vh;" alt="@Model.Media.description" allow="accelerometer; autoplay; clipboard-write; encrypted-media; picture-in-picture"></iframe>
                </div>
                break;
            case MediaType.IMAGE:
                <div class="col py-2 d-flex justify-content-center align-items-center">
                    <img src="@mediaUrl" class="img-fluid" style="max-width: 50vw; max-height: 50vh;" alt="@Model.Media.description">
                </div>
                break;
            case MediaType.AUDIO:
                <div class="col py-2 d-flex justify-content-center align-items-center">
                    <audio controls style="max-width: 50vw; max-height: 50vh;">
                        <source src="@mediaUrl" alt="@Model.Media.description" type="audio/mpeg">
                    </audio>
                </div>
                break;
        }
    }
    <div>
        <input id="mediaUpload" type="file" accept="image/*,video/*,audio/*" />
    </div>
    <button id="uploadButton" class="btn btn-primary">Upload</button>
</form>

@switch (Model?.Type)
{
    case QuestionType.Open:
        // Open question doesn't need options, so redirect directly
        break;
    case QuestionType.MultipleChoice:
    case QuestionType.SingleChoice:
        // Add options to the question
        @* <form asp-action="UpdateMultipleChoiceQuestion" asp-controller="Question"> *@
        <div id="optionTable"></div>
        <form>
            <h2>Add possible answers to the question</h2>
            <div id="optionTable">
                <!-- Options will be loaded here by the loadOptions function -->
            </div>

            <div>
                <input id="newOption" type="text" placeholder="Add an option"/>
            </div>
            <button id="buttonToAdd" class="btn btn-primary">Add option</button>
        </form>
        break;
    case QuestionType.Range:
        <form>
            <p>Update range question</p>
            <label for="min">Min value</label>
            <input type="number" id="min" value="@min" />
            <label for="max">Max value</label>
            <input type="number" id="max" value="@max" />
            <button id="updateRangeValues" class="btn btn-primary">Update</button>
        </form>
        break;
}
<a href="@Url.Action("Edit", "Flow", new { parentFlowId = Model?.FlowId })" class="btn btn-primary">Go back to subflow overview</a>

<script src="~/dist/EditQuestion.entry.js" defer="defer"></script>