@using IP_MVC
@model BL.Domain.Flow

@{
    ViewBag.Title = "Edit Flow";
}

<div class="card border-1 border-black position-absolute card-clickable" data-parent-flow-id="@Model.Id">
    <div class="card-body overflow-y-scroll overflow-x-hidden">
        <input type="hidden" id="id" value="@Model.Id"/>

        <div class="form-group">
            <label for="nameInput">Name</label>
            <input type="text" class="form-control" id="nameInput" value="@Model.Name" required>
        </div>
        <div class="form-group">
            <label for="descriptionInput">Description</label>
            <input type="text" class="form-control" id="descriptionInput" value="@Model.Description" required>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center position-sticky button-container overflow-x-scroll overflow-y-hidden py-1">
        <div>
            <button type="submit" class="btn py-0" id="updateProjectButton">Update</button>
        </div>
        <div>
            <a class="btn py-0 " href="@Url.Action("Flow", "Flow", new { projectId = Model.Id })">Edit Flows</a>
        </div>
    </div>
</div>